{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Page Content -->

  <div class="container">
    <div class="d-flex justify-content-center align-items-center " style="height: 100vh;">

      <form action="{% url 'create' %}" class="p-5 shadow" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="mt-4 mb-4">Create Blog</h3>
        <label for="" class="form-label">Title</label>
        <div class="input-group">
          <input type="text" class="form-control" name="postname" required>
        </div>
        <label for="" class="form-label">Content</label>
        <textarea class="form-control" name="content" required></textarea>
        <label for="" class="form-label">Category</label>
        <input type="text" class="form-control" name="category" required>
        <label for="" class="form-label">Upload Image</label>
        <input type="file" class="form-control" name="image">
        <button class="btn">Create Blog</button>
        <br>
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
      </form>

    </div>
  </div>

</html>

{% endblock %}